baseline/x-2000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-6000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-9000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-2000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-1000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-3000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-5000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-8000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-1000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-3000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-4000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-6000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-10000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-4000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-5000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-7000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-8000.dat filter=lfs diff=lfs merge=lfs -text
baseline/x-10000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-7000.dat filter=lfs diff=lfs merge=lfs -text
baseline/y-9000.dat filter=lfs diff=lfs merge=lfs -text
